<script src="https://kit.fontawesome.com/70195ad3d9.js" crossorigin="anonymous"></script>
<div class="main-heading">
    <h2 class="explore_heading" style="text-align: center;">Rooms you have added</h2>

    
<form method="POST" action="/locationsearch">
 <label for="search">search by location:</label>
     
<select id="locations" name="locations">
   <option value="none" selected > All locations</option> 
  {{#each data}}
  <option  name="locations" value="{{this.location}}">{{this.location}}</option>
  {{/each}}
  <input type="submit" value="Search">
</select> 
</form>
<a href="/addroom" class="secondlink" style="text-align: center;">Add more roooms</a

</div>

<br>
    <section class="places-block">
        {{#each data}}
        <article class="destination_x">
            <p><img src="/uploads/{{this.pic}}" class="images" alt="something"></p>
            <div class="content_x">
            </div>
            <p class="p-heading">{{this.title}}</p>
             <p class="p-heading">{{this.description}}</p>
            <p class="p-heading">{{this.location}}</p>
              <p class="p-heading">featured: {{this.isFeatured}}</p>
            <p>${{this.price}}/night</p>
            <p>{{This.description}}</p>
             
            <button type="submit" class="btn"><a href="/editroom/{{this.id}}">edit</a></button>
            <button type="submit" class="btn"> <a href="/deleteroom/{{this.id}}?method=DELETE">Delete</a></button>
        </article>
         {{else}}
                    <td colspan="5">
                        <p>No rooms in the database</p>
                    </td>
        {{/each}}
    </section>