<h3 class="dashboard_heading"> your dashboard</h3>
<p class="msg"> Welcome Back, {{req.seesion.user.firstname}}, {{user.lastname}}</p>

   <article class="dashboardBio_gridItem">
      <h4>your Details</h4>
        <p>{{user.firstname}}, {{user.lastname}}</p>
        <p>{{user.email}}</p>
        <p><button class="btn-center"> Edit profile</button></p>
    </article>

<section class="data">
<section class="ubookings">
<h3>Your cart</h3>
<div class="places-block">
       {{#each data}}
        <article class="destination_x">
            <p><img src="/uploads/{{this.pic}}" class="images" alt="something"></p>
            <div class="content_x">
            </div>
            <p class="p-heading">{{this.title}}</p>
             <p class="p-heading">{{this.description}}</p>
            <p class="p-heading">{{this.location}}</p>
              <p class="p-heading">featured: {{this.isFeatured}}</p>
            <p>${{this.price}}/night</p>
            <p>{{This.description}}</p>
            <button type="submit" class="btn"> <a href="/confirmroom/{{this.id}}">Confirm Booking</a></button>
        </article>
        {{/each}}
</div>
</section>

</section>

