<script src="https://kit.fontawesome.com/70195ad3d9.js" crossorigin="anonymous"></script>
<div class="main-heading">
    <h2 class="explore_heading" style="text-align: center;">Top-Rated Places To Stay</h2>
</div>
<form method="POST" action="/locationsearch">
 <label for="search">search by location:</label>
<select id="locations" name="locations">
   <option value="none" selected > All locations</option> 
  {{#each data}}
  <option  name="locations" value="{{this.location}}">{{this.location}}</option>
  {{/each}}
  <input type="submit" value="Search">
</select> 


</form>

<br>
    <section class="places-block">
        {{#each data}}
        <article class="destination_x">
            <p><img src="/uploads/{{this.pic}}" class="images" alt="something"></p>
            <div class="content_x">
            </div>
            <p class="p-heading">{{this.title}}</p>
            <p class="p-heading">{{this.description}}</p>
            <p class="p-heading">{{this.location}}</p>
            <p>${{this.price}}/night</p>
            <p><i class="fa fa-star" aria-hidden="true"></i> {{this.rating}}(200) . Superhost<p></p>
            <div class="btn-center">
                        <a href="/explore/{{this.id}}" class="btn" title="book">Explore Now!</a>
                    </div>
        </article>
        {{/each}}
    </section>